




ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Page */

.container a{
  color:#FF3679;
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
}

.container {
  width:1084px;
  margin-left: auto;
  margin-right: auto;

}
.reg_section {
  padding:0;
  margin:10px 0;
  border-bottom: 1px dotted #eee;
  margin-left:220px;
  margin-right:229px;
}
.reg_section h3 {
  font-size: 13px;
  margin: 5px 0;
  color: #C4A2A2;
}
/* Form */
.register {
  position: relative;
/*  margin-top:20px; */
  padding: 20px 20px 20px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.register:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
 background:rgba(0, 0, 0, 0.2);
  border-radius:0px;
  -webkit-border-radius: 7px;
}
.register h1 {
  margin: -20px -20px 0;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color:#694551;
  text-align: center;
  border-bottom:1px solid #EDEDED;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px #f5f5f5;
  -moz-box-shadow: 0 1px #f5f5f5;
  box-shadow: 0 1px #f5f5f5;
}

.register input[type=text], .register input[type=password] ,.register select,.register textarea {
/*  width: 576px;
  width:346px;*/
}
.register p.terms {
  float: left;
  line-height: 31px;
  margin-left: 223px;
}
.register p.terms label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.register p.terms input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.register p.submit {
  text-align: right;
 /* margin-right: 223px;*/
  margin-right:146px;
}
.register-help {
  margin: 20px 0;
  font-size: 11px;
  text-align: center;
 
  color:#FFFFFF;
}
.register-help a {
  color:#FF3679;
  text-shadow:0 1px #1E0E13;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.container input {
  font-family:"Trebuchet MS",tahoma;
  font-size: 14px;
}

.container input[type=text], input[type=password] ,.register select,.register textarea {
  margin: 5px;
  padding: 0 10px;
  height: 34px;
  color: #404040;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:3px;
  -webkit-border-radius: 5px;
  outline:3px solid rgba(200, 105, 137, 0.09);
  -moz-outline-radius:7px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  margin:10px 0;
}
.container input[type=text]:focus, input[type=password]:focus{
  border-color:#FFF7F9;
  outline-color:rgba(254, 225, 235, 0.7);
  outline-offset: 0;
}

/*.container input[type=submit] {
  padding:0 10px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color:#FFFFFF;
  text-shadow:0 1px #4D1124;
  border-width: 1px;
  border-style: solid;
  border-color:#693647;
  border-radius: 7px 7px 7px 7px;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #7D0F33;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AA1E4D), color-stop(100%, #7D0F33));
  background-image: -webkit-linear-gradient(top, #AA1E4D, #7D0F33);
  background-image:-moz-linear-gradient(center top , #AA1E4D, #7D0F33)
  background-image: -ms-linear-gradient(top, #AA1E4D, #7D0F33);
  background-image: -o-linear-gradient(top, #AA1E4D, #7D0F33);
  background-image: linear-gradient(top, #AA1E4D, #7D0F33);
  -webkit-box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
  -moz-box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
  box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
  cursor:pointer;
}
.container input[type=submit]:active {
  background: #7D0F33;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}*/

.container .lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
.container .register select {
  padding:6px 10px;
  width: 366px;
  color: #777777;
}
.register textarea {
  height: 50px;
  padding: 10px;
  color: #C9C9C9;
}

/* About */
.about {
  margin:10px auto;
  width: 300px;
  text-align: center;
  color:#EEA5BD;
  font-size: 12px;
}
.about a {
  padding: 1px 3px;
  margin: 0 -1px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.about a:hover {
  color:#2F0916;
  text-shadow: none;
  background: #E83671;
}

.container.links {
  zoom: 1;
}
.container.links:before, .links:after {
  content: "";
  display: table;
}
.container.links:after {
  clear: both;
}
.container.links a {
  padding: 6px 0;
  float: left;
  width: 50%;
  font-size: 14px;
}

/**------------Surojit Added---------------**/
.register .table { 
     border: none;
	width:85%;
	margin:0 5% 0 10%;
 }
.register .table th, .register .table td { 
     border: none;
 	padding:2px;
 	vertical-align:middle;
 }
 
.register .table .label, .register .table .badge {
 	background-color: #CA7B7A;   
    font-size: inherit;
    line-height: 18px;
    padding: 2px 10px;
}

.register .table hr {
  	-moz-border-bottom-colors: none;
  	-moz-border-image: none;
  	-moz-border-left-colors: none;
  	-moz-border-right-colors: none;
  	-moz-border-top-colors: none;
  	border-color: #808080 -moz-use-text-color #808080;
  	border-style: dashed none;
  	border-width: 1px 0;
  	margin: 5px 0;
	width:100%;
}

.container .register select {
    width: 85%;
}

.container .register .select {
    width: 65%;
}

.register .table td label{width:150px;}





/*added for success page*/

.successimg{
	width:200px ;
	height:168px;
	float:left;
	margin-left:20px;
}
.successpara{
	width:824px;
	height:168px;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	color:#a4a4a4;
}
.successpara p{
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-top:60px;}
	
.successpara p span{
	text-align:center;
	font-size:15px;}
	
/*end of success page*/

